
{% capture FileName %}{{ item.url | split: '/' | last }}{% endcapture %}
{% capture ItemID %}{{ FileName | split: '.' | first }}{% endcapture %}

{%- assign format_list = "" | split: "," -%}
{%- if item.Type and item.Type != "" -%}
  {%- assign format_list = format_list | push: item.Type -%}
{%- endif -%}
{%- if item.Collection and item.Collection != "" -%}
  {%- assign format_list = format_list | push: item.Collection -%}
{%- endif -%}
{%- if item.Relation and item.Relation != "" -%}
  {%- assign format_list = format_list | push: item.Relation -%}
{%- endif -%}

{%- assign catlist = "" | split: ',' -%}
{% if item.Categories %}
  {% for cat in item.Categories %}
    {% assign catlist = catlist | push: cat %}
  {% endfor %}
{% endif %}
{% assign uniqueCategories = catlist | uniq %}

<div class="cell filter-simple-item {{ item.Type }} {{ item.Collection | replace: ', ', ' ' }} {{ item.Relation }}"
     data-categories="{{ uniqueCategories | join: ',' }}"
     data-formats="{{ format_list | join: ',' }}"
     style="padding-top: 10px;">
  {% if item.Identifier %}<strong>{{ item.Identifier }}.</strong> {% endif %}
  <strong>{{ item.Title }}</strong>. <em>{{ item.Temporal }}</em> ({{ item.Collection }} {{ item.Relation }} {{ item.StoredInDisplay }}).
  {{ item.Creator }}{% if item.Author %}, {{ item.Author }}{% endif %}.
  {{ item.Description }}.
  {% if item.CEIOA %}CEI/OA: {{ item.CEIOA }}. {% endif %}
  {% if item.MiBACT1998 %}MiBACT 1988: {{ item.MiBACT1998 }}.{% endif %}
</div>
